<div class="flex justify-between items-center">
    <h2 class="text-center">Filmes cadastrados</h2>
    <%= link_to "Cadastrar novo Filme", new_movie_path, class: "mt-4 no-underline flex justify-center items-center bg-slate-700 h-12 px-4 rounded-lg hover:bg-slate-500 hover:cursor-pointer text-white transition decoration-0" %>
</div>

<% if @released_movies.length >= 1 %>
    <h3>
        Filmes já lançados
    </h3>
    <ul>
        <% @released_movies.each do |m| %>
            <li><%= link_to  m.title, movie_path(m.id) %> - <%= m.year %></li>
        <% end %>
    </ul>
<% end %>

<% if @to_be_released_movies.length >= 1 %>
    <h3>
        Filmes a serem lançados
    </h3>
    <ul>
        <% @to_be_released_movies.each do |m| %>
            <li><%= link_to  m.title, movie_path(m.id) %> - <%= m.year %></li>
        <% end %>
    </ul>
<% end %>