<div class="flex justify-between items-center">
    <h2><%= @movie.title %></h2>
    <%= link_to "Editar Filme", edit_movie_path(@movie.id), class: "mt-4 no-underline flex justify-center items-center bg-slate-700 h-12 px-4 rounded-lg hover:bg-slate-500 hover:cursor-pointer text-white transition decoration-0" %>
</div>

<ul>
    <li class="font-bold">
        Status de Publicação: <span class="font-normal"><%= @movie.draft_status == "draft" ? "Rascunho" : "Publicado" %></span>
    </li>
    <li class="font-bold">
        Status de Lançamento: <span class="font-normal"><%= @movie.releasing_status == "released" ? "Já lançado" : "A ser lançado" %></span>
    </li>
    <li class="font-bold">
        Ano de Lançamento: <span class="font-normal"><%= @movie.year %></span>
    </li>
    <li class="font-bold">
        Sinopse: <span class="font-normal"><%= @movie.synopsis %></span>
    </li>
    <li class="font-bold">
        País de Origem: <span class="font-normal"><%= @movie.origin_country %></span>
    </li>
    <li class="font-bold">
        Duração (em minutos): <span class="font-normal"><%= @movie.movie_length %></span>
    </li>
    <li class="font-bold">
        Diretor: <span class="font-normal"><%= link_to @movie.movie_director.name, movie_director_path(@movie.movie_director.id) %></span>
    </li>
    <li class="font-bold">
        Gênero: <span class="font-normal"><%= link_to @movie.genre.name, genre_path(@movie.genre.id) %></span>
    </li>
</ul>
