<h2><%= @movie_director.name %></h2>
<ul>
    <li class="font-bold">
        Nacionalidade: <span class="font-normal"><%= @movie_director.nationality %></span>
    </li>
    <li class="font-bold">
        Data de Nascimento: <span class="font-normal"><%= @movie_director.birth_date.strftime("%d/%m/%Y") %></span>
    </li>
    <li class="font-bold">
        Gênero preferido: <span class="font-normal"><%= @movie_director.genre.name %></span>
    </li>
</ul>

<h3>Filmes dirigidos por <%= @movie_director.name %>:</h3>
<ul>
    <% @movie_director.movies.each do |movie| %>
        <li>
            <%= link_to movie.title, movie_path(movie.id) %>
        </li>
    <% end %>
</ul>